@use '../../app' as *;

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  // gap: 3rem;

  @include backgroundImage();
}

.loginText {
  font-size: 4rem;
}

.errorContainer {
  padding: 0;
  list-style: none;

  margin: 1rem 0;
  min-height: $altFontSize;
  max-width: 32rem;

  .errorText {
    font-size: $altFontSize;
    color: $red;

    font-weight: 500;
    line-height: $altFontSize;

    animation: errorEnterAnimation 0.5s ease-in-out;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loginLink {
  font-size: 1.5rem;
}

.loginLink:hover {
  cursor: pointer;
  opacity: 0.6;
}

.loginButton {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
}

form {
  font-size: 1.7rem;
}
