@use '../../app' as *;

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  gap: 3rem;

  @include backgroundImage();
}

.homeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.homeTextUpper {
  font-size: 4.4rem;
}

.homeButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.homeButton {
  height: 3.8rem;
  width: 11rem;
  font-size: 1.9rem;
}

.homeLoggedIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
