@use '../../app' as *;

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  // gap: 3rem;

  @include backgroundImage();
}

.registerText {
  font-size: 4rem;
}

.errorContainer {
  padding: 0;
  margin: 0;
  list-style: none;

  margin-top: 1rem;
  min-height: $altFontSize;
  max-width: 32rem;

  .errorText {
    font-size: $altFontSize;
    color: $red;

    font-weight: 500;
    line-height: $altFontSize;

    animation: errorEnterAnimation 0.5s ease-in-out;
  }
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.registerLink {
  font-size: 1.5rem;
}

.registerLink:hover {
  cursor: pointer;
  opacity: 0.6;
}

.registerButton {
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
}

form {
  font-size: 1.7rem;
}

@keyframes errorEnterAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}